$primary-color: #ffb742;
$text-color: #fff;
$subtitle-color: #ccc;

// .personal_info {
//   /* height: 640px; si rajout des vignettes */
//   height: 320px;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   h3 {
//     font-size: 32px;
//     color: $text-color;
//     font-weight: 600;
//   }

//   p {
//     font-size: 44px;
//     font-weight: 600;
//     color: $text-color;
//     margin-top: 8px;
//   }

//   img {
//     width: 200px;
//     height: 200px;
//     margin-top: 100px;
//   }
// }

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;

  img {
    width: 280px;
  }
}
  .personal_info{
    h3 {
      color: $text-color;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      color: $subtitle-color;
      font-size: 14px;
    }

    button {
      margin-top: 30px;
    }
  }


@media screen and (max-width: 780px){
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
}