@import "../../style/variables";
.seprator {
    margin: 50px 50px 30px;
    padding: 10px 20px;
    background: $background-seprator-dark;
    display: inline-block;
    color: $primary-color;
    border-radius: 12px;
  }