/****** Dark Mode Orange ******/
$primary-color: #1876C9;             
$background-color-dark: #000000;
$text-color-dark: #ffffff;
$secondary-color: #ccc;
$tertiary-color: #7b7b7b;
$background-seprator-dark:#383e45;
$grenn-color: #4caf50;
$footer-bg: #1c1c1c;


$primary-color-red: #e53935;

/****** Light Mode ******/
$background-color-light: #ffffff;
$text-color-light: #000000;

/* Application des variables */
body[data-theme="light"] {
    background-color: $background-color-light;
    color: $text-color-light;

    h2, p {
        color: $text-color-light;
    }

    .info h2, .info p {
        color: $text-color-light;
    }

    .personal_info h3 {
        color: $text-color-light;
    }

    .seprator {
        color: $primary-color;
        background-color: $text-color-dark;
    }

    li a {
        color: $text-color-light;
    }

    #skills .left .info p {
        color: $text-color-light;
    }
    #skills .left .info h3 {
        color: $text-color-light;
    }

    .start h3, .start p, .start button {
        color: $text-color-light;
    }
    .project-tag{
        background-color: $primary-color;
        color: $text-color-dark
    }
    .start h3,
    .start p{
        color: $text-color-dark;
    }
    .start button {
        border: 1px solid $text-color-dark;
        color: $text-color-dark;
    }
    .error-message {
        color: $primary-color-red;
    }
    .confirm-message_success {
        color: $grenn-color;
    }
}

body[data-theme="dark"] {
    background-color: $background-color-dark;
    color: $text-color-dark;

    h2, p {
        color: $text-color-dark;
    }

    .info h2, .info p {
        color: $text-color-dark;
    }

    .personal_info h3 {
        color: $text-color-dark;
    }

    .seprator {
        color: $primary-color;
        background-color: $text-color-light;
    }

    li a {
        color: $text-color-dark;
    }

    #skills .left .info p {
        color: $text-color-dark;
    }

    .start h3, .start p, .start button {
        color: $text-color-dark;
        
    }
    .start button {
        border: 1px solid $text-color-dark;
    }
    .project-card {
        background-color: $text-color-light;
    }
    .project-tag{
        background-color: $primary-color;
    }
    .error-message {
        color: $primary-color-red;
    }
    .confirm-message_success {
        color: $grenn-color;
    }
    .modal-content {
        background-color: $text-color-dark;
    }
    label {
        color: $text-color-light;
    }

}

/* Bouton de basculement */
#theme-toggle {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
}