@charset "UTF-8";
/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #212529;
}

/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

#about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}
#about img {
  width: 280px;
}

.personal_info h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.personal_info p {
  color: #ccc;
  font-size: 14px;
}
.personal_info button {
  margin-top: 30px;
}

@media screen and (max-width: 780px) {
  .about {
    flex-wrap: wrap;
    justify-content: center;
  }
}
/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #ffffff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.error-message {
  color: #e53935;
  font-weight: bold;
  margin-top: 10px;
}

.confirmation-message {
  color: #4caf50;
  font-weight: bold;
  margin-top: 10px;
}

/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  /* height: 640px; si rajout des vignettes */
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info h4 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
}
.info h4 span {
  color: #ffffff;
  text-decoration: underline;
}
.info p.title {
  font-size: 44px;
  font-weight: 600;
  color: ◊;
  margin-top: 8px;
}
.info img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}
.about img {
  width: 280px;
}
.about .info h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .info p {
  color: #7b7b7b;
  font-size: 14px;
}
.about .info button {
  margin-top: 30px;
}

.skills {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}
.skills .left {
  width: 680px;
}
.skills .left .info h3 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
.skills .left .info p {
  color: #ccc;
  font-size: 14px;
}
.skills .left button {
  margin-top: 30px;
}
.skills .right {
  width: 420px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.skills .right .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000000;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
.skills .right .item i {
  font-size: 34px;
  color: #ffffff;
}

footer {
  position: relative;
  background: #1c1c1c;
  padding: 80px 50px 40px;
  margin-top: 100px;
}
footer .start {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  background-color: #ffb742;
  padding: 30px 25px;
  border-radius: 15px;
  width: 70%;
  top: -21%;
  left: 15%;
}
footer .start p {
  font-size: 13px;
  width: 35%;
}
footer .start button {
  background: transparent;
  border: 1px solid #000000;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 100px;
  transition: all 0.3s ease;
}
footer .start button:hover {
  background-color: #ffffff;
  border-color: #ffffff;
}
footer .cols {
  display: flex;
  align-items: start;
}
footer .cols .about-col {
  flex: 3;
}
footer .cols .about-col h3 {
  color: #ffb742;
  margin-bottom: 20px;
}
footer .cols .about-col p {
  color: #ccc;
  font-size: 13px;
}
footer .cols .links-col {
  flex: 3;
}
footer .cols .links-col h4 {
  color: #ffffff;
  margin-bottom: 20px;
}
footer .cols .links-col a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  transition: color 0.3s ease;
}
footer .cols .links-col a:hover {
  color: #ffb742;
}
footer .cols .news-col {
  flex: 3;
}
footer .cols .news-col h4 {
  color: #ffffff;
  margin-bottom: 20px;
}
footer .cols .news-col p {
  color: #7b7b7b;
  font-size: 15px;
}
footer .cols .news-col form {
  width: 100%;
  margin-top: 20px;
  position: relative;
}
footer .cols .news-col form input {
  width: 100%;
  background: #212529;
  border: none;
  padding: 13px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 13px;
}
footer .cols .news-col form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background: #ffb742;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
footer .cols .news-col form button:hover {
  background-color: #ffb742;
}
footer .cols .news-col form button i {
  font-size: 26px;
}

@media screen and (max-width: 1100px) {
  footer {
    margin-top: 150px;
  }
  footer .start {
    width: 90%;
    left: 5%;
    top: -20%;
  }
  footer .cols {
    display: flex;
    flex-wrap: wrap;
  }
  footer .cols .about-col,
  footer .cols .links-col,
  footer .cols .news-col {
    flex-basis: 50%;
  }
}
@media screen and (max-width: 650px) {
  footer .start {
    top: -8%;
  }
  footer .start p {
    display: none;
  }
  footer .cols {
    display: flex;
    flex-wrap: wrap;
  }
  footer .cols .about-col,
  footer .cols .links-col,
  footer .cols .news-col {
    flex-basis: 100%;
  }
  footer .cols .about-col {
    margin-bottom: 40px;
  }
  footer .cols .links-col {
    margin-bottom: 20px;
  }
}
/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 50px;
}
nav h1 {
  color: #ffb742;
  font-weight: 600;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  margin-right: 25px;
  transition: color 0.3s ease;
}
nav ul li:hover a {
  color: #ffb742;
}
nav ul li:last-child a {
  margin: 0;
}

@media screen and (max-width: 780px) {
  nav button {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  nav {
    display: flex;
    justify-content: center;
  }
  nav h2 {
    display: none;
  }
  nav ul li a {
    font-size: 14px;
  }
}
/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  /* height: 640px; si rajout des vignettes */
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info h2 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
}
.info h2 span {
  color: #ffb742;
  text-decoration: underline;
}
.info p.title {
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 8px;
}
.info img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

@media screen and (max-width: 780px) {
  .info h2 {
    font-size: 24px !important;
  }
  .info p.title {
    font-size: 36px !important;
  }
}
@media screen and (max-width: 650px) {
  .info {
    /* height: 320px; si vignette */
    height: 150px;
    display: flex;
    justify-content: start;
  }
  .info h2 {
    font-size: 20px !important;
  }
  .info p.title {
    font-size: 28px !important;
  }
  .info img {
    margin-top: 40px;
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 480px) {
  .info h2 {
    font-size: 19px !important;
  }
  .info p.title {
    font-size: 18px !important;
  }
}
/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.seprator {
  margin: 50px 50px 30px;
  padding: 10px 20px;
  background: #383e45;
  display: inline-block;
  color: #ffb742;
  border-radius: 12px;
}

/****** Dark Mode Orange ******/
/****** Light Mode ******/
/* Application des variables */
body[data-theme=light] {
  background-color: #ffffff;
  color: #000000;
}
body[data-theme=light] h2, body[data-theme=light] p {
  color: #000000;
}
body[data-theme=light] .info h2, body[data-theme=light] .info p {
  color: #000000;
}
body[data-theme=light] .personal_info h3 {
  color: #000000;
}
body[data-theme=light] .seprator {
  color: #ffb742;
}
body[data-theme=light] li a {
  color: #000000;
}
body[data-theme=light] #skills .left .info p {
  color: #000000;
}
body[data-theme=light] .start h3, body[data-theme=light] .start p, body[data-theme=light] .start button {
  color: #000000;
}

body[data-theme=dark] {
  background-color: #000000;
  color: #ffffff;
}
body[data-theme=dark] h2, body[data-theme=dark] p {
  color: #ffffff;
}
body[data-theme=dark] .info h2, body[data-theme=dark] .info p {
  color: #ffffff;
}
body[data-theme=dark] .personal_info h3 {
  color: #ffffff;
}
body[data-theme=dark] .seprator {
  color: #ffb742;
}
body[data-theme=dark] li a {
  color: #ffffff;
}
body[data-theme=dark] #skills .left .info p {
  color: #ffffff;
}
body[data-theme=dark] .start h3, body[data-theme=dark] .start p, body[data-theme=dark] .start button {
  color: #ffffff;
}
body[data-theme=dark] .start button {
  border: 1px solid #ffffff;
}

/* Bouton de basculement */
#theme-toggle {
  margin: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.info {
  /* height: 640px; si rajout des vignettes */
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info h4 {
  font-size: 32px;
  color: #ffffff;
  font-weight: 600;
}
.info h4 span {
  color: #ffb742;
  text-decoration: underline;
}
.info p.title {
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
  margin-top: 8px;
}
.info img {
  width: 200px;
  height: 200px;
  margin-top: 100px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  padding: 0 50px;
}
.about img {
  width: 280px;
}
.about .info h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .info p {
  color: #ccc;
  font-size: 14px;
}
.about .info button {
  margin-top: 30px;
}

#skills {
  display: flex;
  justify-content: space-around;
  padding: 0 50px;
}
#skills .left {
  width: 680px;
}
#skills .left .info h3 {
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 20px;
}
#skills .left .info p {
  color: #ccc;
  font-size: 14px;
}
#skills .left button {
  margin-top: 30px;
}
#skills .right {
  width: 420px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
#skills .right .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #383e45;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}
#skills .right .item i {
  font-size: 34px;
  color: #ffffff;
}

@media screen and (max-width: 1100px) {
  .skills {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .skills .left {
    width: 500px;
  }
  .skills .left .info h3 {
    font-size: 22px;
  }
  .skills .left .info p {
    font-size: 12px;
  }
}
@media screen and (max-width: 650px) {
  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills .right {
    display: flex;
    justify-content: space-between;
  }
  .skills .left .info h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=main.css.map */